#block {                         /*styling of input block*/
    background-color: grey;
    height: 130px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
#add {                          /*styling of input box*/
    background-color: white;
    color:black;
    height: 50px;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-radius: 10px;
    border-width: 7px;
    margin: 29px;
}
#addbtn {                      /*styling of add button*/
    background-color: rgb(118, 118, 194);
    height: 60px;
    width: 10%;
    border-radius: 10px;
    border-width: 5px;
    margin:29px;
}
ol > li {                       /*styling of list items*/
    background-color: rgba(190, 189, 189, 0.858);
    border-radius: 5px;
    font-size: large;
    font-weight: 200;
    height: 20px;
    padding: 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
li:hover {                     /*styling of list items hovering*/
    background-color: rgba(91, 228, 135, 0.937);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}
#addbtn:hover {                /*styling of add btn hovering*/
    background-color: rgb(186, 77, 157);
}
.deleteBtn,                    /*styling of delete and edit btn*/
.editBtn {
    background-color: brown;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}    
.editBtn:hover,.deleteBtn:hover  {                  /*styling of delete and edit btn hovering*/
    background-color: crimson;
}
@media(max-width:500px){                            /*Responsive web design*/
    #add {
        width: 60%;
    }
    #addbtn {
        width: 30%;
    }
    ol > li {
        flex-direction: column;
        padding: 15px;
    }
    .deleteBtn,
    .editBtn {
        margin-left: 0;
        margin-top: 5px;
        width: 100%;
        text-align: center;
    }
}
